body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('src/assets/backgrounds/background4.png');
  background-size: cover;
  background-position: center;
}

#welcome, #lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 10px; /* Reduced padding */
  border-radius: 10px;
  position: absolute; /* Positioned absolutely */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; /* Ensure cursor style for buttons */
}

#player-name-input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

#game-container, #player-list {
  margin-top: 10px; /* Reduced margin */
}

.room-item {
  margin-top: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer; /* Ensure cursor style for room items */
  display: flex;
  align-items: center;
}

.room-item .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.room-item .dot.green {
  background-color: green;
}

.room-item .dot.red {
  background-color: red;
}

#player-list {
  margin-top: 10px; /* Reduced margin */
}

/* Chat box styles */
.chatBoxWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
}

.chat-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.chat-head {
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 20px;
  padding: 10px; /* Adjust padding to decrease height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-body {
  max-height: 150px;
  overflow-y: auto;
  display: none; /* Initially hidden */
}

.msg-insert {
  padding: 10px;
}

.msg-send {
  background-color: #dcf8c6;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: right;
}

.msg-receive {
  background-color: #ebebeb;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: left;
}

.chat-text {
  padding: 10px;
  display: none; /* Initially hidden */
  display: flex; /* Display flex for input and button alignment */
  align-items: center;
}

.chat-text input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure the input stays within the chat box */
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
