/* client/styles.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('public/src/assets/backgrounds/background4.png');
  background-size: cover;
  background-position: center;
}

#welcome, #lobby, #game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; /* Ensure cursor style for buttons */
}

#player-name-input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

#game-container, #player-list {
  margin-top: 20px;
}

.room-item {
  margin-top: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer; /* Ensure cursor style for room items */
  display: flex;
  align-items: center;
}

.room-item .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.room-item .dot.green {
  background-color: green;
}

.room-item .dot.red {
  background-color: red;
}

#player-list {
  margin-top: 20px;
}

/* Chat box styles */
.chatBoxWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
}

.chat-box {
  background-color: /* white; */ rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.chat-head {
  background-color: /* #f0f0f0; */ rgba(255, 255, 255, 0.8);
  max-height: 20px;
  padding: 10px; /* Adjust padding to decrease height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-body {
  max-height: 150px;
  overflow-y: auto;
  display: none; /* Initially hidden */
}

.msg-insert {
  padding: 10px;
}

.msg-send {
  background-color: #dcf8c6;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: right;
}

.msg-receive {
  background-color: #ebebeb;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: left;
}

.chat-text {
  padding: 10px;
  display: none; /* Initially hidden */
}

.chat-text input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure the input stays within the chat box */
}
